<div class="container row">
	<label for="ques">Enter number of questions: </label>
	<input type="number" min=2 [(ngModel)]="ques" id="ques">
	<button class="btn btn-success" (click)="set_no_of_questions(ques)">SetUp</button>
</div>

<div class="container-fluid row" *ngIf="isQuizCompleted;else elseBlock">

<div class="container-fluid" id="quiz-area">
	<div class="row" *ngIf="qType=='pic'">
		<img class="img-fluid" [src] = "(img | async) || ''">
	</div>
	<div class="row" *ngIf="qType=='txt'">
		<strong>{{question}}</strong>
	</div>
	<div class="row list-group" *ngFor="let c of choices; index as idx">
		<div class="row">
			<label for="{{idx}}" [ngClass]="['list-group-item',
			 'list-group-item-action']">
				<input type="radio" name="choicesgroup" id="{{idx}}"
					value={{c}} [(ngModel)]="answer">
				{{c}}
			</label>
		</div>
	</div>
	<div class="row">
		<button type="submit" class="btn btn-primary" (click)="nextQuestion()">Submit</button>
	</div>
</div>

</div>

<ng-template #elseBlock>
	<p>You finished your quiz</p>
</ng-template>

<h3>Success: {{success}}</h3>
<h3>Failure: {{failure}}</h3>
<h3>Failed</h3>
<p>
	{{failures | json}}
</p>
<div class="row">
	<ng-adsense></ng-adsense>
</div>
<router-outlet></router-outlet>