<div class="container">
	<label for="ques">Enter number of questions: </label>
	<input type="number" min=2 [(ngModel)]="ques" id="ques">
	<button class="btn btn-success" (click)="set_no_of_questions(ques)">SetUp</button>
</div>

<div class="container-fluid" *ngIf="isQuizCompleted;else elseBlock">

	<div class="container-fluid" *ngIf="qType=='pic'">
		<img class="img-fluid" [src] = "(img | async) || ''">
	</div>

	<div class="container-fluid" *ngIf="qType=='txt'">
		<b>{{question}}</b>
	</div>

	<div class="container-fluid">
		<form>
			<ul class="list-group" *ngFor="let c of choices; index as idx">
				<li class="list-group-item list-group-item-action">
					<input type="radio" name="answergroup" id = {{idx}}
					 value = {{c}}  [(ngModel)]="answer">
					 <label for="{{idx}}">{{c}}</label>			 
				</li>
			</ul>
			<button type="submit" (click)="nextQuestion()">Submit</button>
		</form>
	</div>
</div>

<ng-template #elseBlock>
	<p>You finished your quiz</p>
</ng-template>

<h3>Success: {{success}}</h3>
<h3>Failure: {{failure}}</h3>
<h3>Failed</h3>
<p>
	{{failures | json}}
</p>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- TextSimple -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-0361804798945452"
     data-ad-slot="1476777941"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<router-outlet></router-outlet>