<div class="container-fluid">
	<div class="row">
		<div class="col border">
			<button class="btn btn-danger" (click)="ques()">Click</button>
		</div>
		<div class="col border">
			<div class="row">
				<input [(ngModel)]="email" type="text" name="email">	
			</div>
			<div class="row">
				<input [(ngModel)]="password" type="password" name="password">
			</div>
			<div class="row">
				<button class="btn btn-primary" (click)="signIn(email, password)">Log in</button>
			</div>
			<p></p>
			<div class="row">
				<button class="btn btn-primary" (click)="signInGoogle()">Sign in with Google</button>
			</div>
		</div>

	</div>
</div>